BOT_TOKEN=
BOT_USERNAME=
ADMIN_ID=
ADMIN_IDS=
DATABASE_URL=
AD_CHANNEL_ID=
AD_CHANNEL_URL=
PRIVATE_MOVIE_CHANNEL_ID=
PRIVATE_MOVIE_CHANNEL_URL=
UZCARD_CARD_NUMBER=
UZCARD_CARD_NAME=
HUMO_CARD_NUMBER=
HUMO_CARD_NAME=
VISA_CARD_NUMBER=
VISA_CARD_NAME=
MASTER_CARD_NUMBER=
MASTER_CARD_NAME=
LOG_LEVEL=INFO
